* {
	margin:0px;
	border:0px;
	list-style:none;
	padding:0px;
}
/* tags */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 0px 0px;
	background:url(/images/layout/back.jpg) repeat-x;
	color:#000000;
}
h4 {
	font-size:14px;
}
h5 {
	font-size:12px;
}
h6 {
	font-size:10px;
}
a:link, a:visited, a:active { color:#006666;text-decoration:none; }
a:hover { text-decoration:underline; }
/* layout */
#root {
	position:relative;
	width:770px;
	left:50%;
	margin:0px 0 0 -385px;	
}
#icons {
	height:16px;
	background-color:#FFFFFF;
	font-size:10px;
	text-align:right;
	padding:4px 5px 0 0;
}
#top {
	height:243px;
	background:url(/images/Layout/back_top.jpg) no-repeat right;
}
	#top img {
		position:absolute;
	}
	#menu {
		position:absolute;
		font-family: Baskerville, "Baskerville", Garamond, Georgia, "Georgia", Times, "Times New Roman", serif ;
		font-size: 20px; 
		color:#FFFFFF;
		top:230px;
		left:350px;
	}
	#menu ul li {
		float:left;
		margin:0 7px 0 0;
	}
	#menu a:link, #menu a:visited, #menu a:active {
		color:#FFFFFF;
		text-decoration:none;
	}
	#menu a:hover {
		text-decoration:none;
		background-color:#006666;
		color:#FFFFFF;
	}
#contents {
	margin:30px 0 30px 0;
	text-align:justify;
}
#contents ul li {
    background: url(/images/layout/bullet_menu.gif) no-repeat 0 4px;
    padding-left: 12px;
    list-style: none;
    margin: 5px 50px;
	float:none;
}
#contents h2 {
	font-size: 34px; 
	line-height: 40px; 
	display: block; 
	letter-spacing:0px; 
	color: #006666; 
	margin: 0 0 5px 0; 
	font-weight: bold;
	font-family: Baskerville, "Baskerville", Garamond, Georgia, "Georgia", Times, "Times New Roman", serif ;
}
.content_great {
	margin:0 0 20px 0;
}
.content_great p {
	height:83px;
	background:url(/images/layout/back_about.png) no-repeat left top #339999;
	color:#FFFFFF;
	padding:20px 20px 0 120px;
	border:1px solid #663333;
	margin:0 0 0 20px;
}
.content {
	margin:0 0 20px 0;
}
#footer {
	font-family: Baskerville, "Baskerville", Garamond, Georgia, "Georgia", Times, "Times New Roman", serif ;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
	height:33px;
	background:url(/images/layout/back_footer.jpg);
	padding:10px 0 0 0;
}
	#footer a:link, #footer a:visited, #footer a:active {
		color:#FFFFFF;
		text-decoration:none;
	}
	#footer a:hover {
		text-decoration:none;
		background-color:#006666;
		color:#FFFFFF;
	}
#footer_bottom {
	text-align:center;
	font-size:10px;
	margin:4px 0 4px 0;
}