<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
<title>Aprendendo Rails</title>
<%= stylesheet_link_tag "css_screen" %>
</head>

<body>
	<div id="root">
    	<div id="icons">
        	<p><%= link_to 'Home', :controller => 'home', :action => 'index' %> | <a href="#">Contato</a></p>
        </div>
    	<div id="top">
			<%= image_tag "/images/layout/logo.png" %>
            <div id="menu">
            	<ul>
                    <li><a href="#">Como Inciar?</a> | </li>
                	<li><a href="#">Quem Somos</a> | </li>
                    <li><a href="#">Reuni&otilde;es</a> |</li>
                    <li><a href="#">Apoio</a></li>
				</ul>
            </div>
        </div>
        <div id="contents">
			<%= yield %>
        </div>
    </div>
    <div id="footer">
    	<a href="http://groups.google.com/group/aprendendo-rails">Participe do Grupo!</a>
    </div>
    <div id="footer_bottom">
        <p>
            <a href="http://validator.w3.org/check/referer" target="_blank">XHTML</a> |
            <a href="http://jigsaw.w3.org/css-validator/" target="_blank">CSS</a>  |
            <a href="http://www.rubyonrails.org/" target="_blank">Ruby on Rails</a>
        </p>
    </div>
</body>
</html>